

html {
    position: relative;
    min-height: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* Spinner animation */


body {
    font-family: Calibri;
    margin: 0;
}


html, body {
    overscroll-behavior: none;
}


a.btn:hover {
    cursor: pointer !important;
}

/*loader*/
.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 45%;
    left: 40%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}

.table-container {
    position: relative;
}

/* To ensure the table header is always on top when scrolling */
.sticky {
    position: sticky;
}

.vertical-scrollable-div {
    height: 500px; /* Set the fixed height */
    overflow-y: auto; /* Vertical scrolling */
}

/* Style the input field to look like a label */

