@model Milk_Bakery.Models.CratesType

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Crate Type" : "Edit Crate Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-3">
    <div class="card mb-3">
        <div class="card-header text-white p-1" style="background-color:#FC2947;">
            <div class="d-flex align-items-baseline">
                <a asp-action="Index" class="btn btn-link text-white"><i class="fa fa-arrow-left"></i></a>
                <h5 class="mx-auto text-white text-2xl font-semibold">@(Model.Id == 0 ? "Create Crate Type" : "Edit Crate Type")</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="AddOrEdit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label asp-for="Division" class="control-label"></label>
                                <select asp-for="Division" class="form-control" asp-items="@(new SelectList(ViewBag.Divisions))">
                                    <option value="">-- Select Segment --</option>
                                </select>
                                <span asp-validation-for="Division" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <label asp-for="Cratestype" class="control-label"></label>
                                <input asp-for="Cratestype" class="form-control" />
                                <span asp-validation-for="Cratestype" class="text-danger"></span>
                            </div>
                        </div>
                      
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label asp-for="Width" class="control-label"></label>
                                <input asp-for="Width" class="form-control" />
                                <span asp-validation-for="Width" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="Height" class="control-label"></label>
                                <input asp-for="Height" class="form-control" />
                                <span asp-validation-for="Height" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-4">
                                <label asp-for="Length" class="control-label"></label>
                                <input asp-for="Length" class="form-control" />
                                <span asp-validation-for="Length" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="px-4 text-right py-2">
                            <a asp-action="Index" class="btn hover:bg-red-700 bg-red-600 rounded-sm shadow-md text-white">Back</a>
                            <input type="submit" value="Save Record" class="btn hover:bg-blue-700 bg-blue-600 rounded-sm shadow-md text-white" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}